<!--
  Navigation buttons at the bottom of the post.
-->

<div class="post-navigation d-flex justify-content-between">
  {% if page.previous.url %}
  <a href="{{ site.baseurl }}{{ page.previous.url }}" class="btn btn-outline-primary"
    prompt="{{ site.data.locales[lang].post.button.previous }}">
    <p>{{ page.previous.title }}</p>
  </a>
  {% else %}
  <div class="btn btn-outline-primary disabled"
    prompt="{{ site.data.locales[lang].post.button.previous }}">
    <p>-</p>
  </div>
  {% endif %}

  {% if page.next.url %}
  <a href="{{ site.baseurl }}{{page.next.url}}" class="btn btn-outline-primary"
    prompt="{{ site.data.locales[lang].post.button.next }}">
    <p>{{ page.next.title }}</p>
  </a>
  {% else %}
  <div class="btn btn-outline-primary disabled"
    prompt="{{ site.data.locales[lang].post.button.next }}">
    <p>-</p>
  </div>
  {% endif %}

</div>

<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Link Gitalk 的支持文件  -->

<div id="gitalk-container"></div>
<script type="text/javascript">
    var gitalk = new Gitalk({
      clientID: '5e27f68dbc8e16bda35e',
      clientSecret: '10c8794ba3583d326f4bacba789158119a82c3c8',
      repo: 'uchief.github.io',
      owner: 'uchief',
      admin: ['uchief'],
      id: decodeURI(window.location.pathname),
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->